.navbar {
  background-color: #000;
  border-bottom: 1px solid #fff;
  text-align: center;
}
.navbar a {
  color: #fff !important;
  font-size: 22px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  list-style: none;
}
.navbar li {
  padding-left: 40px;
}
.cart-nav-item {
  position: absolute;
  right: 20px;
  top: 0;
}
.cart-nav-item .badge {
  position: absolute;
  right: -20px;
  top: -20px !important;
  font-size: 12px !important;
}
